body {
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    max-width: 90%;
}

.logo {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.name {
    font-weight: bold;
    font-size: 1.2em;
}

.title {
    color: gray;
    margin-bottom: 20px;
    font-size: 1em;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: 2px solid #388E3C; /* Adiciona uma borda verde escura */
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1em;
    width: 80%;
    text-decoration: none;
}

.button:hover {
    background-color: #45a049;
}

.whatsapp {
    background-color: #25D366;
    border: 2px solid #128C7E; /* Borda verde escura para WhatsApp */
}

.google-maps-button {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2px solid #D32F2F; /* Borda vermelha para Google Maps */
    border-radius: 10px; /* Cantos arredondados */
}

.google-maps-button img {
    width: 60px;
    height: 60px;
}
