.catalogo-container {
    display: flex;
    flex-direction: row; /* Organiza os elementos lado a lado */
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px; /* Ajustado para melhor espaçamento */
    padding: 20px;
}

.selecao-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    gap: 15px;
    width: 350px; /* Aumentado para melhor espaçamento */
    position: relative;
    left: 15%; /* Movido um pouco mais para a direita */
}

#imagem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px; /* Aumentado para restaurar a imagem maior */
    height: auto;
    padding: 10px;
    background-color: transparent; /* Remove a linha branca ao eliminar o fundo */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

#imagem-container img {
    width: 100%;
    max-width: 800px; /* Ajustado para exibição maior */
    height: auto;
    visibility: hidden;
    object-fit: contain;
}
